*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    padding: 12px 27px;
    margin: 0 4px;
    border: 2px solid black;
    border-radius: 16px;
    cursor: pointer;
}

.row{
    margin: 8px 0;
}

.input{
    margin: 3px;
    padding: 12px 64px;
    border: 2px solid black;
    border-radius: 16px;
    font-size: 0.9rem;
}

h1{
    color: red;
}
